.body{
    height:150px;
    padding:10px;
}

.step-box{
    height:600px;
    display:flex;
    text-align: left;
    font-size:18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.408);
}
.step{
    padding:5px;
    text-align: left;
    font-size: 20px;
    margin:50px;
}
.step-desc{
    margin-left:10px;
    border:2px solid #9bdf3c;
    border-radius: 23px;
    height: fit-content;
    position: relative;
    top:100px;
}
@media(max-width:1235px){
    .step-desc{
    position: relative;
    top:0;
    z-index: 2;
    }

}